/* Theme colors */
$background: #f8f9fd;
$background-active: #f8f9fd;

$primary: #873deb;
$page-title-color: #ca0707;
$content-red: #b41626;
$content-black: #0e0500;
$content-shadow-1: #00000022;
$content-shadow-2: #00000038;
$content-accent: #bf3617;
$content-accent-text: #fff0d8;

$colors: (
  "bg": $background,
  "bg-active": $background-active,
  "primary": $primary,
  "page-title-color": $page-title-color,
  "content-red": $content-red,
  "content-black": $content-black,
  "content-shadow-1": $content-shadow-1,
  "content-shadow-2": $content-shadow-2,
  "content-accent": $content-accent,
  "content-accent-text": $content-accent-text,
);

/* Font config */
$font_primary: "Lexend Tera", sans-serif;
$font_secondary: "Oswald", sans-serif;
$font_accent: "Meddon", cursive;
$font_title: "CoreCircus", sans-serif;
$font_title_secondary: "CoreCircus2DDot1", sans-serif;

/* Font sizes */
$font_sizes: (
  1: 39px,
  2: 29px,
  3: 19px,
  4: 13px,
  5: 12px,
  6: 10px
);

/* Font weight */
$light: 100;
$regular: 200;
$medium: 300;
$bold: 400;
$extrabold: 500;
$black: 600;

$font_weights: (
  "light": $light,
  "regular": $regular,
  "medium": $medium,
  "bold": $bold,
  "extrabold": $extrabold,
  "black": $black,
);

/* Build */
.vars {
  /* Colors */
  @each $name, $color in $colors {
    /* make colors accessible via: var(--color-name) */
    --#{$name}: #{$color};

    /* class */
    .#{$name} {
      color: #{$color};
    }

    /* background */
    .bg-#{$name} {
      background-color: #{$color};
    }
  }

  /* Font sizes */
  @each $number, $font_size in $font_sizes {
    --fs-#{$number}: #{$font_size * 0.5};

    @media (min-width: 300px) {
      --fs-#{$number}: #{$font_size * 0.55};
    }
    @media (min-width: 576px) {
      --fs-#{$number}: #{$font_size * 0.8};
    }
    @media (min-width: 768px) {
      --fs-#{$number}: #{$font_size};
    }
    @media (min-width: 992px) {
      --fs-#{$number}: #{$font_size * 1.1};
    }
    @media (min-width: 1200px) {
      --fs-#{$number}: #{$font_size * 1.3};
    }
    @media (min-width: 1600px) {
      --fs-#{$number}: #{$font_size * 1.5};
    }
    @media (min-width: 2000px) {
      --fs-#{$number}: #{$font_size * 1.8};
    }

    /* class */
    .fs-#{$number} {
      font-size: $font_size * 0.3;

      @media (min-width: 300px) {
        font-size: $font_size * 0.5;
      }
      @media (min-width: 576px) {
        font-size: $font_size * 0.7;
      }
      @media (min-width: 768px) {
        font-size: $font_size * 0.8;
      }
      @media (min-width: 992px) {
        font-size: $font_size;
      }
      @media (min-width: 1200px) {
        font-size: $font_size * 1.3;
      }
      @media (min-width: 1600px) {
        font-size: $font_size * 1.5;
      }
      @media (min-width: 2000px) {
        font-size: $font_size * 1.8;
      }
    }
  }

  /* Font weight */
  @each $name, $font_weight in $font_weights {
    --fw-#{$name}: #{$font_weight};

    /* class */
    .#{$name} {
      font-weight: $font_weight;
    }
  }

  /* Font families */
  --ff-primary: "Lexend Tera", sans-serif;
  --ff-secondary: "Oswald", sans-serif;
  --ff-accent: "Meddon", cursive;
  --ff-title: "CoreCircus", sans-serif;
  --ff-title_secondary: "CoreCircus2DDot1", sans-serif;

  /* H1 text*/
  --text-color: #ca0707;
  --text-inner-color: #ffb423;
  --text-border-color: #fedb5b;
  --text-border-shadow-color: #fe950e;
  --text-shadow-distance-x: 10px;
  --text-shadow-distance-y: 50px;
  --text-shadow-opacity: 15px;
  --text-shadow-color: #0000008a;
  --arrow-size: 30px;

  /* Movie content size */
  --mc-padding-vertical: 12vh;
  --mc-padding-horizontal: 4vw;

  @media (min-width: 300px) {
    --arrow-size: 40px;
    --mc-padding-vertical: 6vh;
    --mc-padding-horizontal: 4vw;
  }
  @media (min-width: 576px) {
    --arrow-size: 40px;
    --mc-padding-vertical: 6vh;
    --mc-padding-horizontal: 4vw;
  }
  @media (min-width: 768px) {
    --arrow-size: 50px;
    --mc-padding-vertical: 12vh;
    --mc-padding-horizontal: 4vw;
  }
  @media (min-width: 992px) {
    --arrow-size: 60px;
    --mc-padding-vertical: 12vh;
    --mc-padding-horizontal: 4vw;
  }
  @media (min-width: 1200px) {
    --arrow-size: 70px;
    --mc-padding-vertical: 9vh;
    --mc-padding-horizontal: 4vw;
  }
  @media (min-width: 1600px) {
    --arrow-size: 75px;
    --mc-padding-vertical: 6vh;
    --mc-padding-horizontal: 5vw;
  }
  @media (min-width: 1800px) {
    --mc-padding-vertical: 6vh;
    --mc-padding-horizontal: 6vw;
  }
  @media (min-width: 2000px) {
    --arrow-size: 80px;
    --mc-padding-vertical: 6vh;
    --mc-padding-horizontal: 11vw;
  }
}

.shining {
  --fs-1: #{map-get($font_sizes, 1) * 0.4};
  --page-title-color: #fd1c1c;
  --text-inner-color: #ffffff;
  --text-border-color: #f9df7f;
  --text-border-shadow-color: #eb8703;
  --text-shadow-distance-x: 8px;
  --text-shadow-distance-y: 40px;
  --text-shadow-opacity: 25px;
  --text-shadow-color: #0000008a;

  @media (min-width: 300px) {
    --fs-1: #{map-get($font_sizes, 1) * 0.6};
  }
  @media (min-width: 576px) {
    --fs-1: #{map-get($font_sizes, 1) * 0.8};
  }
  @media (min-width: 768px) {
    --fs-1: #{map-get($font_sizes, 1) * 0.9};
  }
  @media (min-width: 992px) {
    --fs-1: #{map-get($font_sizes, 1) * 1.2};
  }
  @media (min-width: 1200px) {
    --fs-1: #{map-get($font_sizes, 1) * 1.5};
  }
  @media (min-width: 1600px) {
    --fs-1: #{map-get($font_sizes, 1) * 1.7};
  }
  @media (min-width: 2000px) {
    --fs-1: #{map-get($font_sizes, 1) * 2};
  }
}
