<article @fade>
  <div class="img" [style.backgroundImage]="'url(' + data?.poster + ')'" [title]="data?.name">
  </div>

  <h3 class="rating">Rating<span><span *ngFor="let char of data?.rating">{{char}}</span></span></h3>

  <div class="info">
    <p class="year">{{data?.year}}</p>

    <h2 class="title">{{data?.name}}</h2>

    <h4 class="director"><small>By</small><div><p *ngFor="let word of data?.director">{{word}}&nbsp;</p></div></h4>

    <summary class="description">{{data?.description}}</summary>
  </div>
</article>