app-movie {
  width: 100%;
  display: flex;

  article {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
    padding-top: var(--mc-padding-vertical);
    padding-bottom: var(--mc-padding-vertical);
    padding-left: var(--mc-padding-horizontal);
    padding-right: var(--mc-padding-horizontal);

    .img {
      width: 40%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin-left: 5%;
      // margin: 5vh 0vw 5vh 5vw;
      // box-shadow: -3px 3px 0px #00000036;
    }
    picture {
      img {
        @include border-radius(3px);
        width: 20vw;
        margin: 5vh 0vw 5vh 5vw;
        box-shadow: -3px 3px 0px var(--content-shadow-2);
      }
    }

    .rating {
      margin-left: 5%;
      margin-right: 5%;
      padding: 3px 2px 2px 2px;
      background-color: var(--content-accent);
      font-family: $font_secondary;
      font-size: var(--fs-6);
      font-weight: var(--fw-extrabold);
      color: var(--content-accent-text);
      text-orientation: upright;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      border-radius: 10vw;
      box-shadow: 2px 2px 1px var(--content-shadow-2);
      text-shadow: 0px 0px 2px var(--content-accent-text);

      span {
        margin-top: 5px;
        font-family: $font_secondary;
        font-size: calc(var(--fs-6) * 1.4);
        font-weight: var(--fw-medium);
        writing-mode: rl-tb;

        span:nth-child(1) {
          vertical-align: top;
          line-height: var(--fs-6);
        }
        span:nth-child(2) {
          font-size: var(--fs-6);
          line-height: calc(var(--fs-6) * 1.8);
          vertical-align: top;
          margin-right: 1px;
        }
        span:nth-child(3) {
          font-size: calc(var(--fs-6) * 0.8);
          vertical-align: baseline;
        }
      }
    }

    .info {
      width: 35%;
      text-align: center;

      .year {
        margin-bottom: calc(var(--fs-4) * 0.5);
        font-family: $font_secondary;
        font-size: var(--fs-4);
        font-weight: var(--fw-black);
        color: var(--content-black);
        display: block;
        text-shadow: 2px 2px 1px var(--content-shadow-1);
      }

      .title {
        font-family: $font_secondary;
        font-size: var(--fs-2);
        line-height: calc(var(--fs-2) * 1.2);
        font-weight: var(--fw-black);
        color: var(--content-red);
        text-transform: uppercase;
        text-shadow: 2px 2px 1px var(--content-shadow-2);
      }

      .director {
        @include transition(all 0.2s ease);
        margin-top: calc(var(--fs-3) * 0.5);
        font-family: $font_primary;
        font-size: calc(var(--fs-3) * 0.75);
        text-transform: uppercase;

        small {
          text-shadow: 2px 2px 1px var(--content-shadow-1);
          display: block;
        }

        div {
          margin-top: calc(var(--fs-3) * 0.25);
          font-weight: var(--fw-black);
          line-height: calc(var(--fs-3) * 1.2);
          color: var(--content-black);
          text-shadow: 2px 2px 1px var(--content-shadow-1);

          p {
            display: inline-block;
          }
          p:first-letter {
            font-size: calc(var(--fs-3) * 1.5);
          }
        }
      }

      .description {
        @include transition(all 0.2s ease);
        font-family: $font_secondary;
        font-size: var(--fs-5);
        text-transform: uppercase;
        color: var(--content-black);
        font-weight: var(--fw-bold);
        margin-top: var(--fs-4);
        text-shadow: 2px 2px 1px var(--content-shadow-1);

        &:before,
        &:after {
          font-family: $font_primary;
          font-size: calc(var(--fs-5) * 1.5);
          line-height: 0;
          display: contents;
        }
        &:before {
          content: "\201C";
          padding-right: 3px;
          vertical-align: top;
        }
        &:after {
          content: "\201D";
          padding-left: 3px;
        }
      }
    }
  }
}
