html {
  @extend .vars;
  @extend .margin-zero;

  body {
    @extend .margin-zero;
    @extend .full-width;
    @include transition(all 0.3s ease-in);
    background-image: url("assets/img/background-body.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1b0301;
    background-blend-mode: screen;
    background-size: cover;

    &:hover {
      background-color: #11023e;
      background-blend-mode: screen;
    }

    * {
      @include box-sizing();
    }

    main {
      section {
        &.top-rated-movies {
          @extend .full-width;
        }
      }
    }
  }
}
